In [15]:
import pandas as pd
df = pd.read_csv('C:/Your_csv_file.csv', sep=';')
df["Start Date"] = pd.to_datetime(df['Start Date'],yearfirst=False, dayfirst=True)
df['Load'] = df.iloc[:,3]*df.iloc[:,4]
grouped_multiple = df.groupby(["Name","Start Date", "ID"]).agg({ "Load":['sum']})
grouped_multiple.columns = ['Load_sum']
grouped_multiple = grouped_multiple.reset_index()
pd.DataFrame(grouped_multiple)
grouped_multiple['ema7'] = grouped_multiple.groupby("Name")['Load_sum'].transform(lambda x: x.ewm(span=7,adjust=False).mean()) # Adjusted is used in order to adjust the values for the first seven days
grouped_multiple['ema7'] = grouped_multiple['ema7'].astype(int)
grouped_multiple['ema28'] = grouped_multiple.groupby("Name")['Load_sum'].transform(lambda x: x.ewm(span=28,adjust=False).mean()) # Adjusted is used in order to adjust the values for the first 28 days
grouped_multiple['ema28'] = grouped_multiple['ema28'].astype(int)

In [16]:
grouped_multiple

               Name Start Date    ID  Load_sum  ema7  ema28
0      Beau Stracke 2021-01-18  1972    1800.0  1800   1800
1      Beau Stracke 2021-01-19  1972    1200.0  1650   1758
2      Beau Stracke 2021-01-20  1972     840.0  1447   1695
3      Beau Stracke 2021-01-21  1972    1680.0  1505   1694
4      Beau Stracke 2021-01-22  1972    1320.0  1459   1668
..              ...        ...   ...       ...   ...    ...
335  Reilly Keeling 2021-02-24  1969     960.0  1205   1187
336  Reilly Keeling 2021-02-25  1969    1200.0  1204   1188
337  Reilly Keeling 2021-02-26  1969    1560.0  1293   1213
338  Reilly Keeling 2021-02-27  1969     720.0  1150   1179
339  Reilly Keeling 2021-02-28  1969     720.0  1042   1148

[340 rows x 6 columns]